/* fondo: #212121
el amarillo #b5a373

letras menu Crochet
letra nombre alimentos Motion Picture */


@font-face {
  font-family: Crochet;
  src: url('./assets/fonts/Crochet.otf');
}
@font-face {
  font-family:MotionPicture;
  src: url('./assets/fonts/MotionPicture.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212121;
  color: #ffffff;
}

